.home {
    width: 80%;
    margin: auto;
}

.home__showpage {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.home__showpage div {
    flex: 0.3;
    border-right: 1px solid #F7D08A;
    border-left: 1px solid #F7D08A;
    padding: 20px;
}